{% extends 'base.html.twig' %}

{% block title %}Liste des Fleuristes
{% endblock %}

{% block body %}
	<div class="bg-gray-100 min-h-screen">
		<div class="container mx-auto px-4 py-8">
			<h1 class="text-4xl font-bold mb-8 text-center text-green-800">Liste des Fleuristes</h1>

			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
				{% for user in fleuristes %}
					{% if user.fleuriste %}
						<div class="bg-white shadow-lg rounded-lg overflow-hidden transition duration-300 hover:shadow-xl">
							<div class="px-6 py-4">
								<div class="flex items-center mb-4">
									<img src="{{ user.avatarName ? asset('uploads/avatars/' ~ user.avatarName) : asset('basic_avatar/1.png') }}" alt="{{ user.avatarName ? 'Avatar de ' ~ user.fleuriste.nom : 'Avatar par défaut' }}" class="w-16 h-16 rounded-full mr-4 object-cover">
									<div class="font-bold text-xl text-green-800">{{ user.fleuriste.nom }}</div>
								</div>
								<p class="text-gray-700 text-base mb-2">
									<i class="fas fa-envelope mr-2 text-green-600"></i>
									{{ user.email }}
								</p>
								{% if user.adresses is not empty %}
									{% set principale_adresse = null %}
									{% for adresse in user.adresses %}
										{% if adresse.principale %}
											{% set principale_adresse = adresse %}
										{% endif %}
									{% endfor %}
									{% if principale_adresse is null %}
										{% set principale_adresse = user.adresses|first %}
									{% endif %}
									<p class="text-gray-700 text-base">
										<i class="fas fa-map-marker-alt mr-2 text-green-600"></i>
										{{ principale_adresse.adresseComplete }}
									</p>
								{% else %}
									<p class="text-yellow-600 text-base">
										<i class="fas fa-exclamation-triangle mr-2"></i>Adresse non renseignée
									</p>
								{% endif %}
							</div>
							<div class="px-6 pt-4 pb-2">
								<a href="{{ path('app_fleuriste_detail', {'id': user.id}) }}" class="block w-full text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
									Voir détails
								</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
